---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary, quote } = basics
const {text, book, author} = quote
---

<Section title="Sobre mí">
  <quote class="dark:text-slate-400 font-sans font-semibold tracking-tight text-justify text-sm">
    <i>{text}</i> - <b>{book}, {author}.</b>
  </quote>
  <p class="font-sans text-gray-700 dark:text-slate-400 text-pretty pt-3">
    {summary}
  </p>
</Section>