---
const currentYear = new Date().getFullYear()
---
<div class="p-8 sm:mx-auto sm:w-full sm:p-4 dark:bg-slate-900">
    <div class="mb-1.5 max-w-3xl mx-auto mt-2 dark:text-slate-400">
        © {currentYear} <a href="https://letesdev.github.io/" class="text-blue-500">letesdev</a>. Casi todos los derechos reservados.
    </div>
    <!-- <div class="footer_right"></div> -->
</div>
