---

---

<div id="gr_grid_widget_1717587286">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <div class="gr_grid_container">
        <div class="gr_grid_book_container">
            <a
                title="Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/40121378-atomic-habits"
                ><img
                    alt="Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1655988385l/40121378._SX98_.jpg"
                /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="El sistema y la madre que lo parió. Las trampas y mentiras del discurso políticamente correcto (Spanish Edition)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/197452011-el-sistema-y-la-madre-que-lo-pari-las-trampas-y-mentiras-del-discurso"
                ><img
                    alt="El sistema y la madre que lo parió. Las trampas y mentiras del discurso políticamente correcto"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1697500761l/197452011._SX98_.jpg"
                /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Que mi gente vaya a hacer surf"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/39927033-que-mi-gente-vaya-a-hacer-surf"
                ><img
                    alt="Que mi gente vaya a hacer surf"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1524490899l/39927033._SX98_.jpg"
                /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="España fallida: Cómo el fracaso de las élites nos ha convertido en un país irrelevante"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/128261277-espa-a-fallida"
                ><img
                    alt="España fallida: Cómo el fracaso de las élites nos ha convertido en un país irrelevante"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1681210922l/128261277._SX98_.jpg"
                /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Purposeful Curiosity: How asking the right questions will change your life"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/63843929-purposeful-curiosity"
                ><img
                    alt="Purposeful Curiosity: How asking the right questions will change your life"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1669445658l/63843929._SX98_.jpg"
                /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Liderar desde el talento: 6 claves para el éxito en la empresa y en la vida (Alienta) (Spanish Edition)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/58480915-liderar-desde-el-talento"
                ><img
                    alt="Liderar desde el talento: 6 claves para el éxito en la empresa y en la vida (Alienta)"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1625345885l/58480915._SX98_.jpg"
                /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Outliers: The Story of Success"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/3228917-outliers"
                ><img
                    alt="Outliers: The Story of Success"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1344266315l/3228917._SX98_.jpg"
                /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Eso nunca funcionará: El nacimiento de Netflix y el poder de las grandes ideas (No Ficción) (Spanish Edition)"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/48509226-eso-nunca-funcionar"
                ><img
                    alt="Eso nunca funcionará: El nacimiento de Netflix y el poder de las grandes ideas (No Ficción)"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1571526881l/48509226._SX98_.jpg"
                /></a>
        </div>
        <div class="gr_grid_book_container">
            <a
                title="Shoe Dog: A Memoir by the Creator of Nike"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/27220736-shoe-dog"
                ><img
                    alt="Shoe Dog: A Memoir by the Creator of Nike"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1457284880l/27220736._SX98_.jpg"
                /></a>
        </div>
        <noscript
            ><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings
            with Carlos, and even join a <a rel="nofollow" href="/group"
                >book club</a
            > on Goodreads.</noscript
        >
    </div>
</div>
<script
    src="https://www.goodreads.com/review/grid_widget/125419470.Carlos's%20favorites%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=10&order=d&shelf=favorites&sort=date_read&widget_id=1717587286"
    type="text/javascript"
    charset="utf-8"></script>
    
<script>
    const element = document.querySelector(".gr_grid_container");
    if (element) {
        element.classList.add("grid", "grid-cols-3", "sm:grid-cols-6", "gap-1");
    }
    const elemnts = document.querySelectorAll(".gr_grid_book_container");
    elemnts.forEach((element) => {
        element.classList.add(
            "w-[98px]",
            "h-[146px]",
            "p-1",
            "my-auto",
            "mx-auto",
            "border",
            "rounded-lg",
            "border-gray-400",
            "dark:bg-slate-800",
            "dark:border-none",
        );
    });
</script>
