---
import ThemeToggle from "./ThemeToggle.astro";
---

<!-- <header class="fixed flex items-center justify-center w-full mx-auto m-2 z-10" > -->
<header class="fixed flex items-center justify-end top-0 right-0 sm:right-56 m-3 z-10">

    <nav class="flex max-w-3xl mx-auto py-3 px-3 rounded-full text-gray-600 dark:text-gray-200 justify-end items-center">
        <ThemeToggle />
    </nav>
</header>

<style>
    nav {
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }

    @keyframes nav-shadown {
        to {
            @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
        }
    }
</style>
